body {
  background-color: #FFF;
  font-family: Arial, sans-serif;
}

#logo {
    width: 5rem;
}

h2 {
  color: #2a7b4f;
  margin-bottom: 20px;
}

.navbar-brand {
  font-weight: bold;
}

.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}

footer a:hover i {
  color: #00cc88;
  transform: scale(1.1);
  transition: 0.2s;
}

